body {
    padding: 0;
    margin: 0;
}

.container-fluid {
    position: relative;
    
}

.container-fluid > img {
    height: 100%;
    width: 100%;
}

.address_input{
    position: absolute;
    transform-origin: center;
    transform: translate(-90%, -100%);
    top: 50%;
    left: 50%;
}
.address_input > input {
        height: 50px;
        width: 350px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        z-index: 2;

    }

.afficher_restaurants {
    position: absolute;
    transform-origin: center;
    transform: translate(30%, -100%);
    top: 50%;
    left: 50%;
}

.afficher_restaurants > button {
    height: 50px;
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    border: none;
}

.slides {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 768px) and (max-width: 1200px){
    .footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media screen and (min-width: 667) and (max-width: 768px) {
    .footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}



@media screen and (max-width: 667px) {

    .container-fluid{
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .container-fluid > img {
        height: 100%;
        width: 250%;
    }

    .address_input{
        position: absolute;
        transform-origin: center;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    .address_input > input {
        height: 50px;
        width: 250px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        z-index: 2;

    }
   

    .afficher_restaurants {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 70%;
    }

    .afficher_restaurants > button {
        height: 50px;
        width: 250px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        border: none;
    }


}


